/*
	#BFBFBD
	#FEFFC8
	#A6A5A4
	#7A9F5A
	#FFFAF0
*/
header{
	background-color: #BFBFBD;
}
footer{
	background-color: #A6A5A4;
	clear:both;
	margin-top: 3em;
	height: 5em;
	color: white;
}
body{
	background-color: #7A9F5A;
}
.centerpeice img{
	height:150px;
	border-radius:100%;
}

.dailycat img{
	height:100px;
}
.rightsidebar{
	padding:1em;
	width: 9em;
	height: 500px;
	float: right;
	background-color: #FEFFC8;
	margin-right: 2em ;
}
.leftsidebar{
	width: 9em;
	height: 500px;
	margin-left: 2em;
	float: left;
	background-color: #FEFFC8;
	padding: 1em;
	color: black;
	overflow: hidden;
}

.leftsidebar a{
	color: #000;
	font-weight: bold;
}
.center{
	height:35em;
	background-color:#FFFAF0;
	margin: 0em 14em;
	overflow: scroll;
}

.heads img{
	height:100px;
	border-radius: 70%;
}

form {
	position: relative;
	float: left;
	margin-top: 20em;
	margin-left: 30%;
}

a{ 
	color: white;
}

.centerpeice{
	position: absolute;
	margin-top: 2em;
}

.centerpeice img{
	max-width: 20%;
	height: auto;
	height: auto\9;
}

#pic1{
	position: relative;
	margin-left: 3em;
}

#pic2{
	position: relative;
	margin-left: -5em;
}

#pic5{
	position: relative;
	margin-left: -5em;
	z-index: 3;
}

#pic4{
	position: relative;
	margin-left: -5em;
	z-index: 4;
}

#pic3{
	position: relative;
	margin-left: -5em;;
	z-index: 5;
}

.header-right{
    float:right;
}
.header-right ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#BFBFBD;
}
.header-right li{
    display:inline;
}
.header-right li a{
    display:inline-block;
    text-decoration:none;
    color:black;
    padding:2px;
}
.header-right li a:hover{
    background-color:rgb(228, 228, 228);
}
.header-right ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#BFBFBD;
}
.header-right li{
    display:inline;
}
.header-right li a{
    display:inline-block;
    text-decoration:none;
    color:black;
    padding:2px;
}
.header-right li a:hover{
    background-color:rgb(228, 228, 228);
}

.header-right{
	margin-top: -5em;
	margin-right: 2em;
}

#subbutt {
	position: relative;
	margin-top: 24em;
	float: left;
}